<%- include("partials/header") %>

<link rel="stylesheet" href="app.css">

<h1>This is the home page!</h1>
<img src="https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg">

<%- include("partials/footer") %>